# build output
dist/
.astro/
.vercel/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# environment variables
.env
.env.production
.env.worker

# macOS-specific files
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
